/* Сброс и шрифты */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ------------------------ */
/* -------- ОБЩИЕ --------- */
/* ------------------------ */

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    transition: 0.07s;
}

li {
    list-style-type: none;
}

li:hover {
    color: rgb(223, 223, 223);
}

/* Главные элементы */

body {
    height: 100vh;
    font-family: "Gentium Book Plus", serif;
    background: #383838;
    background: radial-gradient(circle, rgba(56, 56, 56, 1) 0%, rgba(26, 26, 26, 1) 100%);
}


/* Горизонтальный */
.wrapper, .container {
    width: 94vw;
    display: flex;
    margin: auto;
}

/* Вертикальный */
.container {
    flex-direction: column;
}

/* ------------------------ */
/* -------- ШАПКА --------- */
/* ------------------------ */

.header {
    width: 100vw;
}

.header__top-brick {
    height: 6vh;
    display: flex;
    justify-content: center;
    background: #787878;
    background: linear-gradient(180deg, rgb(49, 49, 49) 0%, rgba(20, 20, 20, 1) 100%);
}

/* Верхняя часть шапки */

.top-brick {
    height: inherit;
    align-items: center;
    justify-content: space-between;
}

.header__logotype, .header__logotype img {
    height: inherit;
}

.header__register-button{
    width: 11vh;
    height: 100%;
    background: url(./registerBtnInActive.png) no-repeat;
    background-position: center;
    background-size: 100%;
}

.header__register-button:hover {
    background: url(./registerBtnActive.png) no-repeat;
    background-position: center;
    background-size: 100%;
}

/* Нижняя часть шапки (Навигация) */

.header__bottom-brick {
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 12, 12);
    
}

.bottom-brick {
    height: inherit;
    align-items: center;
    gap: 15px;
}

.header__bottom-brick a {
    font-size: 16px;
    font-family: "Gentium Book Plus", serif;
    color: rgb(185, 185, 185);
}

/* ------------------------------- */
/* -------- Основные стили ------- */
/* ------------------------------- */

h1, h2, p {
    color: rgb(170, 170, 170);
}

/* Отступы */

.main__header {
    margin-top: 5vh;
}

h1 {
    margin-bottom: 1vh;
}

h2 {
    margin-top: 2vh;
    margin-bottom: 1vh;
}

/* Ссылки */

a {
    color: #E1AD00;
}

a:hover {
    color: #e7b91f;
}

/* Примечание */

u {
    color: rgb(78, 148, 87);
    text-decoration: none;
}

/* Доступ к ресурсу */

.blocked {
    color: rgb(148, 78, 78);
    text-decoration: underline;
    
}
.blocked::after {
    content: '(Заблокировано в РФ)';
}

.works {
    color: rgb(78, 148, 87);
    text-decoration: underline;
}
.works::after {
    content: '(Работает в РФ)';
}

/* Строка с ссылкой */

.link-string {
    width: 47vw;
    /* border: 1px solid rgb(85, 85, 85); */
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    align-items: center;
    gap: 15px;
    margin-bottom: 1vh;
}

@media (min-width: 3840px) {
    .link-string {
        width: 33vw;
    }
    .wrapper {
        width: 70vw;
    }
    .container {
        width: 70vw;
    }
}

@media (max-width: 1920px) {
    .link-string {
        width: 67vw;
    }
}

@media (max-width: 1366px) {
    .link-string {
        width: 77vw;
    }
}

@media (max-width: 720px) {
    .link-string {
        width: 93vw;
        grid-template-columns: 5fr 1fr 5fr;
    }
    .blocked {
        grid-row: 1;
        grid-column: 2;
    }
    .works {
        grid-row: 1;
        grid-column: 2;
    }
    .blocked::after {
        content: 'РФ✗';
        
    }
    .works::after {
        content: 'РФ✓';
    }
    a {
        overflow-x: hidden;
    }
}

/* Код */

code {
    padding: 1vh;
    border-radius: 3px;
    background-color: #181818;
    /* color: #E5E5E5; */
    color: #ceb45e;
}